body {
	margin: 0;
}

.simulator {
	display: flex;
}

.simulator .visual_view {
	display: inline-block;
	position: relative;
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
}

.simulator .visual_view .view {
	display: inline-block;
	position: relative;
	height: 100%;
}


.simulator .visual_view .view.left_view {
	width: 49%;
}

.simulator .visual_view .view.right_view {
	width: 51%;
}

.simulator .list_view {
	display: inline-block;
	padding: 2%;
	width: 15%;
}

.simulator .list_view ul {
	list-style-type: none;
	padding-left: 3%;
	overflow-y: scroll;
	height: 67%;
}

.simulator .list_view ul li {
	height: 30%;
}
