body {
	margin: 0;
}

.nav {
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #e7e7e7;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
	height: 100%;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	display: inline-block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav ul li a.active {
	color: white;
	background-color: #4CAF50;
}

.simulator {
	display: flex;
}

.simulator .visual_view {
	display: inline-block;
	position: relative;
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
}

.simulator .visual_view .view {
	display: inline-block;
	position: relative;
	height: 100%;
}


.simulator .visual_view .view.left_view {
	width: 49%;
}

.simulator .visual_view .view.right_view {
	width: 51%;
}

.simulator .list_view {
	display: inline-block;
	padding: 2%;
	width: 15%;
}

.simulator .list_view ul {
	list-style-type: none;
	padding-left: 3%;
	overflow-y: scroll;
	height: 67%;
}

.simulator .list_view ul li {
	height: 30%;
}
